<a href="https://colab.research.google.com/github/ryfkii/14119450_Muhammad-Ryfki_3KA18_UTS/blob/main/14119450_Muhammad_Ryfki_3KA18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Description: This program predicts the price of GOOG stock for a   
               specific day

In [1]:
#Import the libraries
from sklearn.svm import SVR
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn-darkgrid')

In [11]:
#Load the data
from google.colab import files
uploaded = files.upload()

Saving GOOG.csv to GOOG.csv

In [13]:
#Store and look at the data
df = pd.read_csv('GOOG.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-06-01,2422.000000,2437.970947,2404.879883,2429.810059,2429.810059,958300
1,2021-06-02,2435.310059,2442.000000,2404.199951,2421.280029,2421.280029,857900
2,2021-06-03,2395.020020,2409.745117,2382.830078,2404.610107,2404.610107,917300
3,2021-06-04,2422.520020,2453.858887,2417.770020,2451.760010,2451.760010,1297400
4,2021-06-07,2451.320068,2468.000000,2441.072998,2466.090088,2466.090088,1192500
...,...,...,...,...,...,...,...
248,2022-05-24,2127.550049,2127.899902,2044.160034,2118.520020,2118.520020,3019300
249,2022-05-25,2102.840088,2130.894043,2084.225098,2116.790039,2116.790039,1895000
250,2022-05-26,2121.010010,2179.104980,2109.760010,2165.919922,2165.919922,1514400
251,2022-05-27,2195.770020,2257.360107,2191.000000,2255.979980,2255.979980,1495600
252,2022-05-31,2261.580078,2328.669922,2251.449951,2280.780029,2280.780029,2562800